*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.opona1 {
    background-color: #9FA8DA;
    position: relative;
    border: dotted 2px #C5CAE9;
    width: 80%;
    border-radius: 13px;
    overflow: hidden;
    text-align: left;
    margin: 10px;
    margin-left: 30px;
    height: 120px
}

#blok_boczny{
    background-color: #C5CAE9;
    width: 40%;
    height: 600px;
    float: left;
}

#sekcja_1, #sekcja_2{
    width: 60%;
    height: 300px;
    float: left;
}

#sekcja_1{
    background-color: #9FA8DA;
    text-align: center;
}

#sekcja_2{
    background-color: #7986CB;
    text-align: center;
}

#block_stopki {
    background-color: #283593;
    color: white;
    padding: 20px;
    clear: both;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 15px;
}

h3{
    background-color: #7986CB;
    color: white;
    font-size: 140%;
    
}

.opona {
    background-color: #9FA8DA;
    margin: 40px;
    border: dotted 2px #263593;
    border-radius: 30px;
}

img {
    padding: 20px;
    float: left;
    height: 250px;
}
